name: ubuntu

on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: build-49fb4fe2b4caa6d8cf6c91d8023f6538f6663b59
        run: cd && curl -o cross-x86_64-unknown-linux-musl.tar.gz -fsSL https://github.com/cross-rs/cross/releases/latest/download/cross-x86_64-unknown-linux-musl.tar.gz && tar zxvf cross-x86_64-unknown-linux-musl.tar.gz && sudo cp ~/cross* /usr/bin/ && sudo chmod +x /usr/bin/cross* && git clone --depth=1 https://github.com/Hailey2022/geph4-exit && cd geph4-exit && cross build --release --locked --target x86_64-unknown-linux-musl
        
      - uses: actions/upload-artifact@v3
        with:
          name: geph4-exit
          path: ~/geph4-exit/target/x86_64-unknown-linux-musl/release/geph4-exit
